.hero-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  position:absolute;
  margin-bottom:200px;
  
  background: url(https://cdn.pixabay.com/photo/2013/11/05/23/55/coffee-206142_1280.jpg) no-repeat center center;
  background-size:cover;

}

.lead {
    margin-top: 40px;
}

.rating-score {
    color: goldenrod;
}

.no-pad {
    padding: 0;
}