body {
  padding-top: 50px;
}

.navbar-inverse {
    background-color: #d9eae4;
    border-color: #d9eae4;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #999;
    background-color: #d9eae4;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #d9eae4;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #999;
    border-color: #d9eae4;
} 
.main-footer {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  color: #999;
  background: #d9e4ea;
  border-top: 1px solid #e5e5e5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.text-footer {
  margin: 20px 0;
}


